
#page1{
    text-align: center;
    background-color: #94B49F ;
    color: white;
    width: 100vw ;
    height:100vh;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 1;
    transition: 150ms ease-in-out;
}

.page2{
    width: 100%;
    height:100vh;
    opacity: 0;
    transition: 150ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page3Style{

    width: 35%;
    height:100vh;
    opacity: 0;
    transition: 150ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    
}

.paraStyle{

    background-color: #1A4D2E;
    padding: 15%;
    border-radius: 4%;
    font-size: large;

}

.restartButton{

    background-color: white ;
    width: fit-content;
    /* margin-top: 70%; */
    
}

.main{
    background-color: #CEE5D0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line1{
    font-size: 90%;
    padding-top: 10%;
}

.line2{
    font-size: 270%;
    margin-top: 0;
}

#options{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 2%;
    
}

#timer,#levels{
    padding: 0.5%;
    margin: 1%;
    width: 15%;
}

#submit-button{
    margin-top: 3%;
    width:max-content;
    padding: 1%;
    border-radius: 4%;
}

#calculation{
    color: #1A4D2E;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    padding-bottom: 2%;
    
}

.display{
    background-color: #94B49F ;
    padding: 2%;
    border-radius: 1.5%;
    display: block;
    width: max-content;
    height: max-content;

}

#Quote-display,#Quote-editor{
    font-size: large;
    font-family: Merriweather,serif;
    line-height: 1.3;
    padding: 1%;
    font-family: system-ui;
}

.timedisplay,.word{
    padding :0 3.5%;
    width: max-content;
    
}

.sec{
    display: flex;
    flex-direction: column;
    padding:0 20%;
    margin-right: 6%;
    background-color: white;
    border-radius: 8%;
}

.word-min{
    display: flex;
    flex-direction: column;
    padding:0 20%;
    margin-left: 6%;
    background-color: white;
    border-radius: 8%;
}

.button{
    margin-left: 75%;
    margin-bottom: 5%;
}
